on fs
    insmod /rk30xxnand_ko.ko.3.0.36+
# mount mtd partitions
    mount ext4 mtd@system /system wait ro noatime nodiratime noauto_da_alloc
    mount ext4 mtd@metadata /metadata wait noatime nodiratime nosuid nodev noauto_da_alloc
    mount ext4 mtd@userdata /data wait noatime nodiratime nosuid nodev noauto_da_alloc
    mount ext4 mtd@cache /cache wait noatime nodiratime nosuid nodev noauto_da_alloc

on post-fs
    insmod /system/lib/modules/ump.ko.3.0.36+
    insmod /system/lib/modules/mali.ko.3.0.36+ mali_dvfs=50,100,133,160,200,266,400 mali_init_clock=50
    insmod /system/lib/modules/rockchip_gslX680.ko

